@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
}

body {
  @apply bg-anchor-background text-anchor-deep font-sans antialiased transition-colors duration-500 ease-smooth;
}

#root {
  @apply min-h-screen;
}

@layer base {
  button,
  input,
  select,
  textarea {
    @apply rounded-[1.25rem];
  }

  button {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-anchor-primary focus-visible:ring-opacity-20;
  }

  input,
  select,
  textarea {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-anchor-primary focus-visible:ring-opacity-15;
  }
}
