@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
}

body {
  @apply bg-anchor-background text-anchor-deep font-sans antialiased transition-colors duration-500 ease-smooth;
}

#root {
  @apply min-h-screen;
}
